local.settings.json
_pycache_/
*.py[cod]
*$py.class
*/.pyc
*.so
.git
.github
.gitignore
.venv
.env
.pytest_cache
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
.vscode/
_blobstorage_/
_queuestorage_/
_azurite_db*_.json
.azure/
notebooks/
tests/
archive/
scripts/
*.log