<!DOCTYPE html>
<html lang="en">

<head>
  <title>Talking Head - Azure TTS Audio Streaming Example</title>
  <link rel="icon" type="image/x-icon" href="https://models.readyplayer.me/671fba5095f66d10f33251c6.png">
  <link rel="stylesheet" href="/static/style2.css">

  <script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@0.170.0/build/three.module.js/+esm",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.170.0/examples/jsm/",
        "talkinghead": "https://cdn.jsdelivr.net/gh/met4citizen/TalkingHead@1.5/modules/talkinghead.mjs"
      }
    }
  </script>

  <script
    src="https://cdn.jsdelivr.net/npm/microsoft-cognitiveservices-speech-sdk@latest/distrib/browser/microsoft.cognitiveservices.speech.sdk.bundle-min.js"></script>

  <script type="module" src="{{ url_for('static', path='js/avatar.js') }}"></script>
</head>

<body>
  <!-- 3D Avatar -->
  <div id="avatar"></div>
  <div id="subtitles"></div>

  <!-- Controls at the top -->
  <div id="controls">
    <input id="text" type="text" />
    <!-- From Uiverse.io by Ashon-G -->
    <!-- <button id="speak">Send</button> -->
    <button id="speak" class="uiverse">
      <div class="wrapper">
        <span id="btn-txt">Ask</span>
        <div class="circle circle-12"></div>
        <div class="circle circle-11"></div>
        <div class="circle circle-10"></div>
        <div class="circle circle-9"></div>
        <div class="circle circle-8"></div>
        <div class="circle circle-7"></div>
        <div class="circle circle-6"></div>
        <div class="circle circle-5"></div>
        <div class="circle circle-4"></div>
        <div class="circle circle-3"></div>
        <div class="circle circle-2"></div>
        <div class="circle circle-1"></div>
      </div>
    </button>
    <button id="settings-button">Settings</button>
  </div>

  <!-- Collapsible Settings Panel -->
  <div id="settings-panel">
    <!-- <label for="azure-key">Azure Key</label>
    <input id="azure-key" type="text" aria-label="Azure key" placeholder="Enter Azure Key">

    <label for="azure-region">Azure Region</label>
    <input id="azure-region" type="text" aria-label="Azure region" placeholder="Enter Azure Region">
    <br>
    <fieldset id="lipsync-type">
      <legend>Lip-sync Data Type</legend>
      <label>
        <input type="radio" name="lipsync_type" value="visemes" checked>
        Visemes
      </label>
      <label>
        <input type="radio" name="lipsync_type" value="words">
        Words
      </label>
      <label>
        <input type="radio" name="lipsync_type" value="blendshapes">
        Blend shapes
      </label>
    </fieldset> -->
    <fieldset id="view">
      <legend>Avatar View</legend>
      <label>
        <input type="radio" name="view_type" value="full">
        Full
      </label>
      <label>
        <input type="radio" name="view_type" value="mid" checked>
        Mid
      </label>
      <label>
        <input type="radio" name="view_type" value="upper">
        Upper
      </label>
      <label>
        <input type="radio" name="view_type" value="head">
        Head
      </label>
    </fieldset>
  </div>

  <!-- Loading or error display -->
  <div id="loading"></div>
</body>

</html>